/* content css */
.contentContainer {
  margin-top: 8rem;
  flex: 1;

  .main {
    padding: 0 2rem;
    margin: auto;
    max-width: 800px;
  }

  .post-content {
    position: sticky;
    top: 100px;
    margin-left: 60px;
    max-width: 300px;
    max-height: calc(100vh - 200px);
  }

  .postsList {
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0.5rem 0px;
    display: flex;
    gap: 0.5rem;
  }

  .contentDate {
    color: var(--text-color);
  }
}
